*{
margin:0;
box-sizing:border-box;
padding:0;
font-family: sans-serif;
}
body{
   /* background-color: rgb(85, 85, 85); */
   background-image: url(./../imagenes-jramosl/textura-oxidadaa.png);
}
span{
    color:  #FEC600;
}
.nav-bar{
    gap:50%;
}
.btn__inicio{
    background-color: #FEC600;
    border: 0px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}

.lista-navbar{
    gap: 15px;
}
.wrapper{
    max-width: 1200px;
    margin: 60px auto;
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.wrapper__clienteInfo{

padding: 20px 30px;
background-color: #c4c4c481;
color:#E9E9E9 ;
}

.title__cliente{
    margin-bottom: 20px;
    text-align: center;
}
.imagen__cliente{
    margin-bottom: 20px;
    text-align: center;
   
}
.imagen__cliente>img{
    border-radius: 10px;
}
.wrapper__clienteInfo>p{
   margin-left:60px ;
   margin-bottom: 20px;
    
}
.cliente__info{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    margin-left: 20px;
}

.wrapper__citasCliente{
    background-color: #c4c4c481;
    padding: 20px 30px;
    height: 550px;
    color:#E9E9E9
}
.title__citas{
    text-align: center;
    margin-bottom: 20px;
}
.date__info{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.legend {
    /* background-color: rgb(14, 0, 139); */
display: flex;
align-items: center;
}
.legend__info{
    height: 40%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #c4c4c481;
}
.input__date{  
text-align: center;
background-color: #c4c4c481;
border: none;
width: 100%;

}
.calender figure>img{
    border-radius: 10px;
}

.botones__cita{
    display: flex;
    justify-content: space-evenly;
}
.botones__cita button{
    padding: 10px;
    background-color: #FEC600;
    border: none;
}
.footer{
    background-color: #cbbfbf6e;
    display: flex;
    justify-content: center;
    color: #E9E9E9;
}

/* MediaQuerys */
@media (max-width: 1072px) {
    .wrapper{
        gap: 20px;
        margin: 20px 20px;
    }
    .nav-bar{
        gap:40%;
    }
    .wrapper__citasCliente{
        height: unset;  
    }
    .wrapper__clienteInfo{
    }
    .legend{
        justify-content: center;
    }
    .date__info{
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 810px) {
    .wrapper{
        flex-direction: column;
    }
   .wrapper__clienteInfo{
       /* width: 100%; */
       
   }
   .wrapper__citasCliente{
       width: 100%;
   }
   .imagen__calendario{
    text-align: center;
    overflow: hidden;
    
 }
    .botones__cita{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .botones__cita>button{
        width: 50%;
    }
    
}
@media (max-width: 480px) {

    .wrapper__citasCliente{
        padding: 10px 0;
        width: 100%;
    }
    .wrapper__clienteInfo{
        width: 100%;
        padding:10px 0;
    }
    .imagen__calendario{
       overflow: scroll;
       margin:0;
    }
}


