*{
margin:0;
box-sizing:border-box;
padding:0;
font-family: sans-serif;
}
body{
   /* background-color: rgb(85, 85, 85); */
    background-image: url(./../imagenes-jramosl/textura-oxidadaa.png);
}
span{
    color:  #FEC600;
}
.nav-bar{
    gap:50%;
}
.btn__inicio{
    background-color: #FEC600;
    border: 0px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}
.lista-navbar{
    gap: 15px;
}
.wrapper{
    max-width: 1200px;
    margin: 60px auto;
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.wrapper__clienteInfo{

padding: 20px 30px;
background-color: #c4c4c481;
color:#E9E9E9 ;

}
.wrapper__clienteInfo button{
    padding: 10px;
    background-color: #FEC600;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}
.wrapper__clienteInfo button:hover{
    background-color: #cbbfbf;
}

.title__cliente{
    margin-bottom: 20px;
    text-align: center;
}
.imagen__cliente{
    margin-bottom: 20px;
    text-align: center;
   
}
.imagen__cliente>img{
    border-radius: 10px;
}
.wrapper__clienteInfo>p{
   margin-left:60px ;
   margin-bottom: 20px;
    
}
.cliente__info{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    margin-left: 20px;
}

.wrapper__citasCliente{
    background-color: #c4c4c481;
    padding: 20px 30px;
    height: 750px;
    color:#E9E9E9
}
.title__citas{
    text-align: center;
    margin-bottom: 30px;
}
.input__date{  
    text-align: center;
    background-color: #c4c4c481;
    border: none;
    width: 100%;
    
    }
.wrapper__citasCliente button{
    padding: 10px 20px;
    background-color: #FEC600;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.wrapper__citasCliente a{
    text-decoration: none;
    color: black;
}
.btns1{
    display: flex;
    justify-content: space-between;
}

.btns1 button:nth-child(1){
    padding: 0 45px;
}
.btn2{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.btns3{
    display: flex;
    justify-content: space-evenly;
}
.wrapper__citasCliente button:hover{
    background-color: #cbbfbf;
}

.wrapper__citasCliente h3{
    text-align: center;
    margin-bottom: 20px;
}
.calender{
    margin-bottom: 20px;
}
.calender figure>img{
    border-radius: 10px;
}
.calender input{
    display: inline-block;
    text-align: center;
}


.footer{
    background-color: #cbbfbf6e;
    display: flex;
    justify-content: center;
    color: #E9E9E9;
}

/* MediaQuerys */
@media (max-width: 1072px) {
        .wrapper{
            gap: 20px;
            margin: 20px 20px;
        }
        .nav-bar{
            gap:40%;
        }
}
@media (max-width: 900px) {
    .wrapper{
        flex-direction: column;
        gap: 20px;
    }
   .wrapper__clienteInfo{
  
   }
   .wrapper__citasCliente{
    width: 90%;
   }
   .imagen__calendario{
    text-align: center;
    overflow: hidden;
 }
    
}
@media (max-width: 550px) {
    .wrapper__clienteInfo{
        width: 90%;
    }
    .btns1{
    flex-direction: column;
       align-items: center;
    }
    .btns1>button{
        /* padding: 10px 0; */
        width: 50%;
    }
    .btn2>button{
        padding: 10px 0;
        width: 50%;
    }
    .wrapper__citasCliente{
        height: 100%;
    }
    .imagen__calendario{
        overflow: scroll;
        margin:0;
     }
    
}
