*{
margin:0;
box-sizing:border-box;
padding:0;
}
.navbar__princi{
    background-color: #2C2B2B;
    display: flex;
    gap: 60%;

}
.ul__princi{
    display: flex;  
    align-items: center;
    gap: 20px;
}
.btn__link{
    background-color: #FEC600;
    border: 0px;
    width: 100px;
    border-radius: 5px;
}
.btn__link:hover{
    cursor: pointer;
}
.main__cont{
    background-color: #c3c3c3;
    padding-bottom: 20px ;
}
.swiper__sect{
    padding: 30px 0px;
    background-color: #F6EED8;
}
.swiper-container{
    height: 300px;
    
}
.swiper-slide{
    background-color: #ccc;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.redes_soci{
    display: flex;
    gap: 30px;
}
.email,.tele{
    margin-top: -15px;
}
.carta{
    padding: 5px;
}
.formu{
    height: 80vh;
    padding: 100px;
}
.btn__canceenviar{
    width: 200px;
}
.div__btn{
    gap: 100px;
}
.img__form{
    width: 100%;
    height: 100%;
    padding-top: 15px;
}
.div__form{
    height: 92.3vh;

}
a{
    transition: 0.3s;
    
}
.btn:hover{
    background-color: #FEC600;
}
@media (max-width:982px) {
    .col__img{
        visibility: hidden;
    }
    .row__imgform{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 767px) 
{
    .formu{
        padding: 10px;
        height: auto;
    } 
}


